@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: 99 184 92;
  --default-color: 55 58 92;
  --light-color: rgba(0, 0, 0, 0.3);
}
